.root {
    -fx-background-image: url("../images/background/background2.png");
}

.button {
    -fx-border-image-source: url('../images/buttons/button.png');
    /* border-image-slice: top right bottom left (px)*/
    -fx-border-image-slice: 1 1 1 1 fill;
    -fx-border-image-width: 2 2 2 2;
/*  -fx-border-image-repeat: strerch; */
    -fx-border-color: null;
    -fx-background-color: null;
    -fx-text-fill: white; 
} 
    
.button:hover {
    -fx-border-image-source: url('../images/buttons/button.png');
    -fx-border-image-slice: 1 1 1 1;
    -fx-border-image-width: 2 2 2 2;
/*  -fx-border-image-repeat: strerch; */
    -fx-border-color: null;
    -fx-background-color: #00FFFF; 
    -fx-text-fill: black; 
}   
    
.button:pressed {
    -fx-border-image-source: url('../images/buttons/button3.png');
    -fx-border-image-slice: 1 1 1 1 fill;
    -fx-border-image-width: 2 2 2 2;
/*  -fx-border-image-repeat: strerch; */
    -fx-border-color: null;
    -fx-background-color: null;
    -fx-text-fill: white;
}