.root {
	-fx-background-image: url("../images/background/background0.gif");
	-fx-background-repeat: repeat;
}
@font-face {
   font-family: Elianto-Regular;
   src: url("../font/Elianto-Regular.ttf"); 
}
.gameTitle {
	-fx-font-family: Elianto-Regular;
}