.root {
    -fx-background-image: url("../images/background/background0.gif");
    -fx-background-repeat: repeat;
}
@font-face {
   font-family: Elianto-Regular;
   src: url("../font/Elianto-Regular.ttf"); 
}
.gameTitle {
    -fx-font-family: Elianto-Regular;
}

.button {
    -fx-border-image-source: url('../images/buttons/button.png');
    /* border-image-slice: top right bottom left (px)*/
    -fx-border-image-slice: 1 1 1 1 fill;
    -fx-border-image-width: 2 2 2 2;
/*  -fx-border-image-repeat: strerch; */
    -fx-border-color: null;
    -fx-background-color: null;
    -fx-text-fill: white; 
} 
    
.button:hover {
    -fx-border-image-source: url('../images/buttons/button.png');
    -fx-border-image-slice: 1 1 1 1;
    -fx-border-image-width: 2 2 2 2;
/*  -fx-border-image-repeat: strerch; */
    -fx-border-color: null;
    -fx-background-color: #00FFFF; 
    -fx-text-fill: black; 
}   
    
.button:pressed {
    -fx-border-image-source: url('../images/buttons/button3.png');
    -fx-border-image-slice: 1 1 1 1 fill;
    -fx-border-image-width: 2 2 2 2;
/*  -fx-border-image-repeat: strerch; */
    -fx-border-color: null;
    -fx-background-color: null;
    -fx-text-fill: white;
}